@page
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    <h3>History</h3> 
                    The nucleus of Juba University, whose mission is to educate individuals by all kinds of equipment modern civilization requires, has been formed by School of Engineering and Architecture founded in 1970 affiliated with Istanbul Technical University. This school has turned into the State Academy of Engineering and Architecture in 1971 and served as a faculty from 1982 to 1992.

                    Juba University was established according to the Law No. 3837 dated July 3, 1992.

                    As one of the universities established in 1990s, Juba University has set a good example due to not only its success in completion of academic units and technical infrastructure but its advances in laboratories, educational and social services, internet infrastructure and informatics as well. Juba University is the first and only state university receiving the ISO-2002 Quality Certificate and "the EFQM Excellence Quality Certificate of Competency Level".
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    You can build the application by following the steps in a series of tutorials.
                </p>
                <p>
                    <a  class="stretched-link">See the tutorial</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can download the completed project from GitHub.
                </p>
                <p>
                    <a class="stretched-link">See project source code</a>
                </p>
            </div>
        </div>
    </div>
</div>

